/data
/data_pre_processed_intelligent
/data_pre_processed_middlepoint
/pre_process_picture_ich
/Faster_RCNN_Human_Detection
/SkeletonData
/SkeletonData_csv_arbeitskopie
/SkeletonData_csv_echt
/SkeletonData_nurwenige
/readme.txt